{% include 'parts/head.html' %}
  <body>
    <div class="container-fluid">

        {% include 'parts/nav-bar-2.html' %}

<div id="deals-analyzer-container">
<form method="post" action="{{ url_for('analyze_deal') }}" id="deals-analyzer" class="form-horizontal" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-12">
            <input type="file" class="btn btn-warning" name="xsl" id="file-to-analyze" required/>
        </div>
        <div class="col-lg-12" style="margin-top: 20px; margin-bottom: 30px;">
            <button class="btn btn-success">Analyze</button>
        </div>
    </div>
    <div class="row">
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Product SKU</th>
                <th>Plans Total Values</th>
                <th>Meet?</th>
            </tr>
        </thead>
        <tbody>
        {% for product in data.products %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.sku }}</td>
                <td>
                    <div>
                        Strategic: <strong>{{ product.strategic }}</strong>     (Objective: {{ data.objective_deal_values.strategic }}) <br>
                        Perspective: <strong>{{ product.perspective }}</strong> (Objective: {{ data.objective_deal_values.perspective }}) <br>
                        Operative: <strong>{{ product.operative }}</strong>     (Objective: {{ data.objective_deal_values.operative }}) <br>
                    </div>
                </td>
                <td>
                    {% if product.meet %}
                        YES
                    {% else %}
                        NO
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {% if data %}
            <div>
                Meet plans count: {{ data.meet_plans_count }} <br>
                Not meet plans count: {{ data.not_meet_plans_count }} <br>
                Deal probability: {{ data.probability }} <br> <br>
            </div>
        {% endif %}
    </div>
</form>
</div>

    </div>
      </body>

  {% include 'parts/scripts.html' %}

</html>